ChatterBot @ git+https://github.com/ShoneGK/ChatterPy@d0d804832bd9aaf932f77c4fb2a64e4ecd12011f
chatterbot-corpus @ git+https://github.com/dcatwoohoo/chatterbot-corpus
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
Flask>=3.0.0
#PyYAML==6.0.1
spacy>=3.7.0
#waitress>=3.0.0
gunicorn